<main>
  <section>
    <h1 class="text title">Login</h1>

    <form (ngSubmit)="logIn()" [formGroup]="loginForm">
      <input formControlName="login" pInputText placeholder="Login">
      <div>
        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" pInputText
               placeholder="Mot de passe"/>
        <p-button (click)="showHidePassword()" [icon]="showPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"></p-button>
      </div>
      <button [disabled]="!loginForm.valid" label="Se connecter" pButton
              type="submit"></button>
    </form>
  </section>

  <div style="position: absolute; width: 300px; height: 200px; border: 5px solid black; left: 20%">
    <app-editable-list [suggestions]="suggestions" [items]="items"
                       [additionalFields]="additionalFields">
    </app-editable-list>
  </div>
</main>
