* {
  font-family: var(--default-font-family);
  font-weight: var(--default-font-weight);
}

:host {
  display: block; /* need to change to any other value than basic inline */
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--main-color);
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40vmin;
  width: 40vmin;

  background-color: var(--secondary-color);
  border-radius: 15%;

  border: var(--default-border-size) solid var(--third-color);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

form * {
  width: 80%;
}
