<main>
  <section>
    <h1 class="text title">Login</h1>

    <form (ngSubmit)="logIn()" [formGroup]="loginForm">
      <input formControlName="login" pInputText placeholder="Login">
      <div class="password-box">
        <input pInputText [type]="showPassword ? 'text' : 'password'" formControlName="password"
               placeholder="Mot de passe"/>
        <p-button (click)="showHidePassword()" [icon]="showPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"></p-button>
      </div>
      <button [disabled]="!loginForm.valid" label="Se connecter" pButton
              type="submit"></button>
    </form>
  </section>
</main>
