button {
  text-decoration: none;
  padding: 0;

  width: 30px;
  height: 30px;
}

span {
  margin: auto;
  display: table;
}

span:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.rotate {
  animation: rotate .5s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  /*99% {*/
  /*  transform: rotateY(360deg);*/
  /*}*/
  /*100% {*/
  /*  transform: rotateY(0deg);*/
  /*}*/
  100% {
    transform: rotateY(180deg);
  }
}
