:host {
  width: inherit;
}


.editable-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;

  background-color: transparent;
  height: 100%;
  width: inherit;
}

.item-container {
  list-style: none;
  padding: 1px;
  margin: 20px;

  width: 100%;

  display: flex;
  align-content: center;
  gap: 10px;

  overflow: auto;
  container: size;
}

.item-item {
  background-color: var(--secondary-color);
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;

  font-family: var(--default-font-family);
  transition: all .2s ease-in-out;
}

.selected {
  background-color: var(--main-color);
}

.selectable:hover {
  opacity: .8;
}
