#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;

  background-color: var(--main-color);
  height: 100%;
  width: 100%;
}

.item-container {
  list-style: none;
  padding: 1px;
  margin: 20px;

  width: 100%;

  display: flex;
  align-content: center;
  gap: 10px;

  overflow: auto;
}

.item-item {
  background-color: var(--secondary-color);
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}
