<p-dialog [(visible)]="visible"
          [style]="{'min-height':'50vh'}"
          [draggable]="false" [modal]="true" class="field-container">

    <app-predefined-key-value-table
            [keySuggestions]="modelSuggestions" [(currentTuples)]="currentFeatures"
            [getValuesSuggestions]="getValuesSuggestions.bind(this)">

    </app-predefined-key-value-table>

    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check"
                (click)="onValidate()" label="Valider">
        </button>
    </ng-template>
</p-dialog>