<div class="filter-container">
  <ul class="field-container">
    <li *ngFor="let filter of filters; let index=index" [ngSwitch]="filter.type" class="field-item">
      <div class="field-label-container">
        <label class="text" for="filter-{{filter.label}}">{{filter.label}}</label>
        <p-checkbox [(ngModel)]="filter.active" [binary]="true"></p-checkbox>
      </div>

      <!--    switch on filter.type-->
      <input *ngSwitchCase="'text'" [(ngModel)]="filter.value" [disabled]="!filter.active" id="filter-{{filter.label}}"
             pInputText type="text">
      <p-inputNumber *ngSwitchCase="'number'" [(ngModel)]="filter.value" [disabled]="!filter.active"
                     id="filter-{{filter.label}}" [useGrouping]="false"
                     mode="decimal"></p-inputNumber>
      <p-checkbox *ngSwitchCase="'checkbox'" [(ngModel)]="filter.value" [binary]="true" [disabled]="!filter.active"
                  id="filter-{{filter.label}}"></p-checkbox>

      <div *ngSwitchCase="'range'" class="flex-center" id="filter-{{filter.label}}">
        <input [(ngModel)]="filter.value[0]" [disabled]="!filter.active" class="half-width"
               pInputText type="number"/>
        <input [(ngModel)]="filter.value[1]" [disabled]="!filter.active" class="half-width"
               pInputText type="number"/>
      </div>

      <p-calendar *ngSwitchCase="'date'" [(ngModel)]="filter.value" [disabled]="!filter.active"
                  [showIcon]="true"
                  dateFormat="dd/mm/yy" id="filter-{{filter.label}}" selectionMode="range">

      </p-calendar>

      <p-autoComplete *ngSwitchCase="'dropdown'" [(ngModel)]="filter.value" [disabled]="!filter.active"
                      id="filter-{{filter.label}}" [suggestions]="filter.others"
                      (completeMethod)="dropDownFilter($event, index)"
                      [dropdown]="true">
        <ng-template let-suggestion pTemplate="item">
          <div class="ui-helper-clearfix">
            <div style="font-size:14px;float:left;margin:15px 10px 0 0">{{suggestion}}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </li>
  </ul>
  <p-button (click)="applyFilters()" label="Appliquer" styleClass="btn-hover-main"></p-button>
</div>
