<app-edit-one-base *ngIf="discount !== undefined"
                   [otherDatas]="otherDiscounts" [data]="discount" [parent]="this"
                   (newSelection)="fetchDiscount($event)" (reset)="reset()" (save)="save()">
  <h2 class="text" style="margin-bottom: 3rem">{{ DiscountType.toString(discount.discountType) }}</h2>

  <div id="common-field">
    <ul class="field-container">
      <li class="field-item">
        <label for="field-productReference" class="text">Id</label>
        <input id="field-productReference" pInputText type="text"
               [placeholder]="initialDiscount.id"
               [(ngModel)]="discount.id" [disabled]="true">
      </li>

      <li class="field-item">
        <label class="text">Prix net</label>
        <p-checkbox [binary]="true" [(ngModel)]="discount.isNetPrice"></p-checkbox>
      </li>

      <li class="field-item">
        <label class="text">Valeur</label>
        <input pInputText
               [placeholder]="initialDiscount.value.toString()"
               [(ngModel)]="discount.value"/>
      </li>

      <li class="field-item">
        <label class="text" pTooltip="Quantité sur laquelle la remise est disponible">Quantité</label>
        <p-inputNumber [useGrouping]="false"
                       [placeholder]="initialDiscount.quantity?.toString() ?? 'Pas de quantité'"
                       [(ngModel)]="discount.quantity">
        </p-inputNumber>
      </li>

      <li class="field-item">
        <label class="text">Utilisé par</label>
        <p-inputNumber [useGrouping]="false"
                       [pTooltip]="discount.productsInUseReference.join(' ')"
                       [(ngModel)]="discount.productsInUseReference.length" [disabled]="true">
        </p-inputNumber>
      </li>

    </ul>
  </div>
  <div *ngIf="discount.discountType === DiscountType.Derogation" id="common-field-derogation">
    <ul class="field-container">
      <li class="field-item">
        <label for="field-manufacturer" class="text">Fabricant</label>
        <p-autoComplete id="field-manufacturer" dataKey="id"
                        field="name" [suggestions]="additionalInformation.manufacturers"
                        (completeMethod)="completeMethod($event, 'manufacturers')"
                        [(ngModel)]="dummyStruct.manufacturer"
                        [dropdown]="true" [forceSelection]="true" [autoHighlight]="true">
        </p-autoComplete>
      </li>
    </ul>
  </div>

  <div *ngIf="discount.discountType === DiscountType.Distributor" id="common-field-distributor">
    <ul class="field-container">
      <li class="field-item">
        <label for="field-distributor" class="text">Distributeur</label>
        <p-autoComplete id="field-distributor" dataKey="id"
                        field="name" [suggestions]="additionalInformation.distributors"
                        (completeMethod)="completeMethod($event, 'distributors')"
                        [(ngModel)]="dummyStruct.distributor"
                        [dropdown]="true" [forceSelection]="true" [autoHighlight]="true">
        </p-autoComplete>
      </li>
    </ul>
  </div>
  <!--<div *ngIf="discount.productType === ProductType.Bundle" id="common-field-bundle"></div>-->
</app-edit-one-base>
