<app-edit-one-base *ngIf="featureModel != undefined" [data]="featureModel"
                   [otherDatas]="otherFeatureModels" [detectChanges]="detectChanges.bind(this)"
                   (reset)="reset()" (save)="save()" [loading]="loading">

    <div id="common-field">
        <ul class="field-container">
            <li class="field-item">
                <label for="field-name" class="text">Nom</label>
                <input id="field-name" pInputText type="text"
                       [placeholder]="initialFeatureModel.name"
                       [(ngModel)]="initialFeatureModel.name">
            </li>

            <li class="field-item">
                <label for="field-idPrestashop" class="text">IdPrestashop</label>
                <input id="field-idPrestashop" pInputText type="text"
                       [placeholder]="initialFeatureModel.idPrestashop"
                       [(ngModel)]="initialFeatureModel.idPrestashop">
            </li>
        </ul>
    </div>

</app-edit-one-base>
