<p-dialog>
  <span>Dialogue dynamique</span>

</p-dialog>
<app-edit-one-base *ngIf="product !== undefined"
                   [otherDatas]="otherProducts" [data]="product" [parent]="this"
                   (newSelection)="fetchProduct($event)" (reset)="reset()" (save)="save()">
  <h2 class="text" style="margin-bottom: 3rem">{{ProductType.toString(product.productType)}}</h2>

  <div id="common-field">
    <ul class="field-container">
      <li class="field-item">
        <label for="field-productReference" class="text">Référence produit</label>
        <input id="field-productReference" pInputText type="text"
               [placeholder]="initialProduct.productReference"
               [(ngModel)]="product.productReference">
      </li>

      <li class="field-item">
        <label for="field-ean13" class="text">Ean13</label>
        <input id="field-ean13" pInputText type="text"
               [placeholder]="initialProduct.ean13"
               [(ngModel)]="product.ean13">
      </li>

      <li class="field-item">
        <label for="field-manufacturer" class="text">Fabricant</label>
        <p-autoComplete id="field-manufacturer" dataKey="id"
                        field="name" [suggestions]="additionalInformation.manufacturers"
                        (completeMethod)="completeMethod($event, 'manufacturers')"
                        [(ngModel)]="dummyStruct.manufacturer"
                        [dropdown]="true" [forceSelection]="true" [autoHighlight]="true">
        </p-autoComplete>
      </li>

      <li class="field-item">
        <label for="field-popularity" class="text">Popularité</label>
        <p-autoComplete id="field-popularity" dataKey="id"
                        field="name" [suggestions]="additionalInformation.popularities"
                        (completeMethod)="completeMethod($event, 'popularities')"
                        [(ngModel)]="dummyStruct.popularity"
                        [dropdown]="true" [forceSelection]="true" [autoHighlight]="true">
        </p-autoComplete>
      </li>

      <li class="field-item">
        <label for="field-imageLink" class="text">Lien de l'image</label>
        <input id="field-imageLink" pInputText type="text"
               [placeholder]="initialProduct.imageLink"
               [(ngModel)]="product.imageLink" [pTooltip]="product.imageLink">
      </li>
    </ul>
  </div>
  <div *ngIf="product.productType === ProductType.Simple" id="common-field-simple-product">
    <ul class="field-container">
      <li class="field-item">
        <label for="field-supplierReference" class="text">Référence fabricant</label>
        <input id="field-supplierReference" pInputText type="text"
               [placeholder]="initialSimpleProduct.supplierReference"
               [(ngModel)]="simpleProduct.supplierReference">
      </li>
      <li class="field-item">
        <label for="field-pureReference" class="text">Référence pure</label>
        <input id="field-pureReference" pInputText type="text"
               [placeholder]="initialSimpleProduct.pureReference"
               [(ngModel)]="simpleProduct.pureReference">
      </li>
      <li class="field-item">
        <label for="field-cataloguePrice" class="text">Prix tarif</label>
        <p-inputNumber id="field-cataloguePrice" mode="currency" currency="EUR"
                       [placeholder]="initialSimpleProduct.cataloguePrice.toString()"
                       [(ngModel)]="simpleProduct.cataloguePrice">
        </p-inputNumber>
      </li>
      <p-contextMenu [model]="discountContextMenuItems" [target]="discount"></p-contextMenu>
      <li #discount class="field-item">
        <label *ngIf="simpleProduct.discount !== undefined" for="field-discount" class="text">Remise</label>
        <input pInputText id="field-discount" type="number" [step]="0.01"
               [placeholder]="initialSimpleProduct.discount!.value.toString()"
               [(ngModel)]="simpleProduct.discount!.value"
               [pTooltip]="'Type de remise: ' + DiscountType.toString(simpleProduct.discount!.discountType)
                        + '\n'
                        + 'Prix net: ' + initialSimpleProduct.discount!.isNetPrice">
      </li>
      <li class="field-item">
        <label for="field-deee" class="text">Deee</label>
        <p-inputNumber id="field-deee" mode="currency" currency="EUR"
                       [placeholder]="initialSimpleProduct.deee.toString()"
                       [(ngModel)]="simpleProduct.deee">
        </p-inputNumber>
      </li>
      <li class="field-item">
        <label for="field-stock" class="text">Stock</label>
        <p-inputNumber id="field-stock"
                       [placeholder]="initialSimpleProduct.stock.toString()"
                       [(ngModel)]="simpleProduct.stock">
        </p-inputNumber>
      </li>
      <li class="field-item">
        <label for="field-averageStockPrice" class="text">Prix moyen du stock</label>
        <p-inputNumber id="field-averageStockPrice" mode="currency" currency="EUR"
                       [placeholder]="initialSimpleProduct.averageStockPrice.toString()"
                       [(ngModel)]="simpleProduct.averageStockPrice">
        </p-inputNumber>
      </li>
      <li class="field-item">
        <label for="field-availability" class="text">Disponibilité</label>
        <p-autoComplete id="field-availability" dataKey="id"
                        field="name" [suggestions]="additionalInformation.availabilities"
                        (completeMethod)="completeMethod($event, 'availabilities')"
                        [(ngModel)]="dummyStruct.availability"
                        [dropdown]="true" [forceSelection]="true" [autoHighlight]="true">
        </p-autoComplete>
      </li>

      <li class="field-item">
        <label for="field-salePrice" class="text">Prix d'achat (HT)</label>
        <p-inputNumber id="field-salePrice" mode="currency" currency="EUR"
                       [placeholder]="purchasePrice.toString()" [step]="0.01"
                       [(ngModel)]="purchasePrice">
        </p-inputNumber>
      </li>
    </ul>
  </div>
  <div *ngIf="product.productType === ProductType.Bundle" id="common-field-bundle">
  </div>

  <div id="shop-specific-field"
       [style.grid-template-columns]="'20% repeat('+ product.shopSpecifics.length.toString() +', 1fr)'">

    <h2></h2>
    <h2 *ngFor="let shopSpecific of product.shopSpecifics"
        class="text">
      {{Shop.toString(shopSpecific.shop)}}
    </h2>

    <label class="text">Nom</label>
    <input *ngFor="let shopSpecific of product.shopSpecifics; let i=index" pInputText type="text"
           [placeholder]="initialProduct.shopSpecifics[i].name" [pTooltip]="shopSpecific.name"
           [(ngModel)]="shopSpecific.name">

    <label class="text">Id Prestashop</label>
    <p-inputNumber *ngFor="let shopSpecific of product.shopSpecifics; let i=index"
                   [useGrouping]="false"
                   [placeholder]="initialProduct.shopSpecifics[i].idPrestaShop?.toString() ?? ''"
                   [(ngModel)]="shopSpecific.idPrestaShop">
    </p-inputNumber>

    <label class="text">Km</label>
    <input pInputText *ngFor="let shopSpecific of product.shopSpecifics; let i=index"
           type="number" [step]="0.01"
           [placeholder]=" initialProduct.shopSpecifics[i].km.toString()"
           [(ngModel)]="shopSpecific.km"/>

    <label class="text">Promotion</label>
    <p-inputNumber *ngFor="let shopSpecific of product.shopSpecifics; let i=index"
                   [useGrouping]="false" mode="decimal"
                   [placeholder]="initialProduct.shopSpecifics[i].promotion.toString()"
                   [(ngModel)]="shopSpecific.promotion">
    </p-inputNumber>

    <label class="text">Actif</label>
    <p-checkbox *ngFor="let shopSpecific of product.shopSpecifics"
                [binary]="true"
                [(ngModel)]="shopSpecific.active">
    </p-checkbox>

    <label class="text">Prix de vente (TTC)</label>
    <p-inputNumber *ngFor="let shopSpecific of product.shopSpecifics; let i=index"
                   mode="currency" currency="EUR" [step]="0.1"
                   [placeholder]="getSalePriceIt(i).toString()"
                   [ngModel]="getSalePriceIt(i)"
                   (ngModelChange)="setSalePriceIt(i, $event)">
    </p-inputNumber>
  </div>
</app-edit-one-base>
