:host {
  display: block;
  min-height: 100vh;
  width: 100%;
  background-color: var(--main-color);
}

nav {
  height: 15vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-color);
}

:host ::ng-deep .p-button.backButton {
  background-color: var(--main-color);
  border: none;

  color: var(--third-color);
  transition: all .2s ease-in-out;
}

:host ::ng-deep .p-button.backButton:hover {
  background-color: var(--secondary-color);
  border: 2px solid var(--third-color);
}

:host ::ng-deep .p-button.btn-hover-main {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);

  color: var(--third-color);
  transition: all .2s ease-in-out;
}

:host ::ng-deep .p-button.btn-hover-main:hover {
  background-color: var(--fourth-color);
  border: 2px solid var(--third-color);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 150px;
  min-height: 85vh;
}

aside {
  border-left: 2px solid black;
  background-color: var(--third-color);
}

.other-product-container {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.other-product-item {
  list-style: none;
}

.other-product-item * {
  text-align: center;
  margin: 0;
  padding: 5px;
  width: 100%;
  background-color: var(--main-color);
  border: none;
  border-bottom: 2px solid black;
  font-family: var(--default-font-family);
  font-weight: var(--default-font-weight);
  font-size: var(--default-font-size);
  color: var(--third-color);
  transition: all .2s ease-in-out;
}

.other-product-item *:hover {
  background-color: var(--secondary-color);
}
