<nav>
  <button class="reset-button" (click)="goToFollowingProduct(-1)">
    <i class="pi pi-arrow-left" style="float: left"></i></button>
  <p-button label="Retour filtre" routerLink="../../filter" styleClass="backButton"></p-button>
  <button class="reset-button" (click)="goToFollowingProduct(1)">
    <i class="pi pi-arrow-right"></i></button>
</nav>

<div class="grid-container" *ngIf="product !== undefined">
  <main>
    <div id="common-field">
      <ul class="field-container">
        <li class="field-item">
          <label for="field-productReference" class="text">Référence produit</label>
          <input id="field-productReference" pInputText type="text"
                 [placeholder]="initialProduct.productReference"
                 [(ngModel)]="product.productReference">
        </li>

        <li class="field-item">
          <label for="field-ean13" class="text">Ean13</label>
          <input id="field-ean13" pInputText type="text"
                 [placeholder]="initialProduct.ean13"
                 [(ngModel)]="product.ean13">
        </li>

        <li class="field-item">
          <label for="field-manufacturer" class="text">Fabricant</label>
          <p-autoComplete id="field-manufacturer"
                          field="name" [suggestions]="additionalInformationFilter.manufacturers"
                          (completeMethod)="completeMethod($event, 'manufacturers')"
                          [dropdown]="true">
            <ng-template let-suggestion pTemplate="item">
              <div class="ui-helper-clearfix">
                <div style="font-size:14px;float:left;margin:15px 10px 0 0">{{suggestion.name}}</div>
              </div>
            </ng-template>
          </p-autoComplete>
        </li>

        <li class="field-item">
          <label for="field-popularity" class="text">Popularité</label>
          <input id="field-popularity" [placeholder]="product.popularity.toString()"
                 [defaultValue]="product.popularity.toString()" pInputText type="text">
        </li>
      </ul>
    </div>
    <div *ngIf="product.productType === ProductType.Simple" id="common-field-simple-product">
      <ul class="field-container">
        <li class="field-item">
          <label for="field-supplierReference" class="text">Référence fabricant</label>
          <input id="field-supplierReference" pInputText type="text"
                 [placeholder]="initialSimpleProduct.supplierReference"
                 [(ngModel)]="simpleProduct.supplierReference">
        </li>
        <li class="field-item">
          <label for="field-pureReference" class="text">Référence pure</label>
          <input id="field-pureReference" pInputText type="text"
                 [placeholder]="initialSimpleProduct.pureReference"
                 [(ngModel)]="simpleProduct.pureReference">
        </li>
        <li class="field-item">
          <label for="field-cataloguePrice" class="text">Prix tarif</label>
          <p-inputNumber id="field-cataloguePrice" mode="currency" currency="EUR"
                         [placeholder]="initialSimpleProduct.cataloguePrice.toString()"
                         [(ngModel)]="simpleProduct.cataloguePrice">
          </p-inputNumber>
        </li>
        <li class="field-item">
          <label for="field-deee" class="text">Deee</label>
          <p-inputNumber id="field-deee" mode="currency" currency="EUR"
                         [placeholder]="initialSimpleProduct.deee.toString()"
                         [(ngModel)]="simpleProduct.deee">
          </p-inputNumber>
        </li>
        <li class="field-item">
          <label for="field-stock" class="text">Stock</label>
          <p-inputNumber id="field-stock"
                         [placeholder]="initialSimpleProduct.stock.toString()"
                         [(ngModel)]="simpleProduct.stock">
          </p-inputNumber>
        </li>
        <li class="field-item">
          <label for="field-averageStockPrice" class="text">Prix moyen du stock</label>
          <p-inputNumber id="field-averageStockPrice" mode="decimal"
                         [placeholder]="initialSimpleProduct.averageStockPrice.toString()"
                         [(ngModel)]="simpleProduct.averageStockPrice">
          </p-inputNumber>
        </li>
        <li class="field-item">
          <label for="field-availability" class="text">Disponibilité</label>
          <p-autoComplete id="field-availability" [suggestions]="['Level0', 'Level1', 'Level2', 'Level3']"
                          (completeMethod)="completeMethod($event, 'others')"
                          [dropdown]="true">
            <ng-template let-suggestion pTemplate="item">
              <div class="ui-helper-clearfix">
                <div style="font-size:14px;float:left;margin:15px 10px 0 0">{{suggestion}}</div>
              </div>
            </ng-template>
          </p-autoComplete>
        </li>
      </ul>
    </div>
    <div *ngIf="product.productType === ProductType.Bundle" id="common-field-bundle">

    </div>

    <div id="shop-specific-field">

      <h2></h2>
      <h2 *ngFor="let shopSpecific of product.shopSpecifics"
          class="text">
        {{Shop.toString(shopSpecific.shop)}}
      </h2>

      <label class="text">Nom</label>
      <input *ngFor="let shopSpecific of product.shopSpecifics; let i=index" pInputText type="text"
             [placeholder]="shopSpecific.name"
             [(ngModel)]="initialProduct.shopSpecifics[i].name">

      <label class="text">Id PrestaShop</label>
      <p-inputNumber *ngFor="let shopSpecific of product.shopSpecifics; let i=index"
                     [useGrouping]="false"
                     [placeholder]="shopSpecific.idPrestaShop?.toString() ?? ''"
                     [(ngModel)]="initialProduct.shopSpecifics[i].idPrestaShop">
      </p-inputNumber>


      <div>4</div>
      <div>5</div>
      <div>6</div>
      <div>7</div>
      <div>8</div>
      <div>9</div>


      <!--   <span>{{shopSpecific.name}} - {{index}}</span>
         <span>{{shopSpecific.name}} - {{index}}</span>
         <span>{{shopSpecific.name}} - {{index}}</span>
         <span>{{shopSpecific.name}} - {{index}}</span>
         <span>{{shopSpecific.name}} - {{index}}</span>
         <span>{{shopSpecific.name}} - {{index}}</span>-->
    </div>
  </main>
  <aside>
    <ul class="other-product-container">
      <li *ngFor="let otherProduct of otherProducts" class="other-product-item">
        <button (click)="goToProduct(otherProduct.id)" [disabled]="otherProduct.id === product.id">
          {{otherProduct.name}}</button>
      </li>
    </ul>
  </aside>
</div>
