<app-edit-multiple [otherDatas]="otherProducts" (reset)="reset()" (save)="save()"
                   (newSelection)="preview($event)" [loading]="loading">

  <div id="common-field">
    <ul class="field-container">
      <li class="field-item">
        <div class="field-label-container">
          <label for="field-popularity" class="text">Popularité</label>
          <p-checkbox [(ngModel)]="dS.popularity.active" [binary]="true"></p-checkbox>
        </div>
        <p-autoComplete id="field-popularity" dataKey="id"
                        field="name" [disabled]="!dS.popularity.active"
                        [suggestions]="additionalInformation.popularities"
                        (completeMethod)="completeMethod($event, 'popularities')"
                        [(ngModel)]="dS.popularity.value"
                        [dropdown]="true" [forceSelection]="true" [autoHighlight]="true">
        </p-autoComplete>
      </li>

      <li class="field-item">
        <div class="field-label-container">
          <label for="field-popularity" class="text">Fabricant</label>
          <p-checkbox [(ngModel)]="dS.manufacturer.active" [binary]="true"></p-checkbox>
        </div>
        <p-autoComplete id="field-manufacturer" dataKey="id"
                        field="name" [disabled]="!dS.manufacturer.active"
                        [suggestions]="additionalInformation.manufacturers"
                        (completeMethod)="completeMethod($event, 'manufacturers')"
                        [(ngModel)]="dS.manufacturer.value"
                        [dropdown]="true" [forceSelection]="true" [autoHighlight]="true">
        </p-autoComplete>
      </li>


      <li class="field-item">
        <div class="field-label-container">
          <label for="field-discount" class="text">Remise</label>
          <p-checkbox [(ngModel)]="dS.discount.active" [binary]="true"></p-checkbox>
        </div>
        <p-autoComplete id="field-discount" dataKey="id"
                        field="name" [disabled]="!dS.discount.active"
                        [suggestions]="additionalInformation.discounts"
                        (completeMethod)="completeMethod($event, 'discounts')"
                        [(ngModel)]="dS.discount.value"
                        [dropdown]="true" [forceSelection]="true" [autoHighlight]="true">
        </p-autoComplete>
      </li>

      <li class="field-item" style="width: 430px">
        <div class="field-label-container">
          <label for="field-discount" class="text">Remise disponible</label>
          <p-checkbox [(ngModel)]="dS.availableDiscounts.active" [binary]="true"></p-checkbox>
          <app-selector-btn [states]="dS.availableDiscounts.other.states"
                            [(index)]="dS.availableDiscounts.other.index">
          </app-selector-btn>
        </div>
        <app-editable-list id="field-availableDiscounts" [disabled]="!dS.availableDiscounts.active"
                           [(items)]="dS.availableDiscounts.value"
                           [suggestions]="initialAdditionalInformation.discounts">
        </app-editable-list>
      </li>
    </ul>
  </div>

  <div id="shop-specific-field">

    <div style="width: max-content; margin: auto">
      <label for="shop-specific-field" class="text" style="margin: 5px">Attribut de site</label>
      <app-selector-btn [states]="chosenWebsiteChoices" [(index)]="chosenWebsiteIndex">
      </app-selector-btn>
    </div>

    <ul class="field-container">

      <li class="field-item">
        <div class="field-label-container">
          <label for="field-km" class="text">Km</label>
          <p-checkbox [(ngModel)]="dS.km.active" [binary]="true"></p-checkbox>
          <app-selector-btn [states]="dS.km.other.states"
                            [(index)]="dS.km.other.index">
          </app-selector-btn>
        </div>
        <input pInputText id="field-km" type="number"
               [disabled]="!dS.km.active" [step]="0.01"
               [(ngModel)]="dS.km.value"/>
      </li>

      <li class="field-item">
        <div class="field-label-container">
          <label for="field-promo" class="text">Promotion</label>
          <p-checkbox [(ngModel)]="dS.promo.active" [binary]="true"></p-checkbox>
          <app-selector-btn [states]="dS.promo.other.states"
                            [(index)]="dS.promo.other.index">
          </app-selector-btn>
        </div>
        <input pInputText id="field-promo" type="number"
               [disabled]="!dS.promo.active" [step]="0.01"
               [(ngModel)]="dS.promo.value"/>
      </li>
    </ul>
  </div>
</app-edit-multiple>
