.full-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 100vh;

    width: 100%;
}

/*use with input to make it appear as regular texte*/
.display-as-text {
    border: none;
    background-color: transparent;
    color: var(--third-color);
    font-size: 1rem;
    text-align: center;

    margin: 0;

    width: 100%;
    height: 100%;
    cursor: pointer;
}

.display-as-text:focus {
    outline: none;
}

.cell {
    padding: 0 !important;
}

.cell:hover {
    background-color: var(--fourth-color);
}

.cell * {
    margin: 5px !important;
}