:host {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  height: 20vh;
  margin-bottom: 5vh;
  box-sizing: border-box;
}

main {
  height: 65vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 75px;

  height: 10vh;
  width: 100%;
}
