<header>
  <p-steps [model]="steps" [readonly]="true"></p-steps>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <button pButton [label]="pageIndex == 0 ? 'Annuler' : 'Précédent'" (click)="previousPage()"
          [ngClass]="{'p-button-danger': pageIndex == 0}">

  </button>
  <button pButton [label]="pageIndex == steps.length - 1 ? 'Valider' : 'Suivant'" (click)="nextPage()"
          [ngClass]="{'p-button-success': pageIndex == steps.length - 1}">

  </button>
</footer>
