header {
  height: 20vh;
}

main {
  height: 70vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 75px;

  height: 10vh;
  width: 100%;
}
