<p-dialog *ngIf="currentItem !== undefined" [(visible)]="isDialogVisible" [modal]="true" (onHide)="onCloseEditDialog()">
  <ul class="field-container">
    <li *ngFor="let additionalField of additionalFields" [ngSwitch]="additionalField.type" class="field-item">
      <label for="field-{{additionalField.label}}" class="text">{{additionalField.label}}</label>
      <p-inputNumber *ngSwitchCase="'number'" id="field-{{additionalField.label}}"
                     [useGrouping]="false"
                     [(ngModel)]="currentItem.additionalFields[additionalField.fieldName]">
      </p-inputNumber>
      <input pInputText *ngSwitchCase="'text'" id="field-{{additionalField.label}}"
             [(ngModel)]="currentItem.additionalFields[additionalField.fieldName]"
             type="text"/>
  </ul>
</p-dialog>

<p-contextMenu [model]="menuItems" [global]="true" [target]="editableList"></p-contextMenu>
<div class="editable-list-container" #editableList>
  <ul class="item-container">
    <li *ngFor="let item of _items" [pTooltip]="item.tooltip" class="item-item" (click)="onSelect(item)"
        (contextmenu)="onContextMenu($event, item)" [ngClass]="{'selected': item.id === _selectedItem?.id,
        'selectable': selectable}">
      {{item.label}}
      <span *ngIf="padProperty != undefined" class="pad">{{item.additionalFields[padProperty]}}</span>
    </li>
  </ul>

  <p-autoComplete id="selector" dataKey="id" [disabled]="disabled"
                  field="name" [suggestions]="suggestions"
                  (completeMethod)="completeMethod($event)"
                  [(ngModel)]="selectorItem"
                  (onSelect)="onAdd($event)"
                  [dropdown]="true" [forceSelection]="true"
                  [autoHighlight]="true">
  </p-autoComplete>
</div>
