<!--
<nav class="nav">
  <button class="reset-button" (click)="goToFollowingData(-1)">
    <i class="pi pi-arrow-left" style="float: left"></i></button>
  <p-button label="Retour filtre" routerLink="../../filter" styleClass="backButton"></p-button>
  <button class="reset-button" (click)="goToFollowingData(1)">
    <i class="pi pi-arrow-right"></i></button>
</nav>

<div class="grid-container">
  <main>
    <ng-content></ng-content>

    <div class="flex-center changes-footer">
      <button pButton label="Annuler" class="p-button-danger"
              (click)="reset()"></button>
      <button pButton label="Enregistrer" class="p-button-success"
              (click)="save()"></button>
    </div>
  </main>
  <aside>
    <ul class="other-data-container">
      <li *ngFor="let otherData of otherDatas" class="other-data-item">
        <button (click)="goToData(otherData.id)" [disabled]="otherData.id === data.id">
          {{otherData.name}}
        </button>
      </li>
    </ul>
  </aside>
</div>
-->
