<nav>
  <p-button label="Retour Écran Principal" routerLink="/home" styleClass="backButton"></p-button>
</nav>

<div class="filter-container">
  <ul class="field-container">
    <li *ngFor="let filter of filters" [ngSwitch]="filter.type" class="field-item">
      <div class="filter-label-container">
        <label class="text" for="filter-{{filter.label}}">{{filter.label}}</label>
        <p-checkbox [(ngModel)]="filter.active" [binary]="true"></p-checkbox>
      </div>

      <!--    switch on filter.type-->
      <input *ngSwitchCase="'text'" [(ngModel)]="filter.value" [disabled]="!filter.active" id="filter-{{filter.label}}"
             pInputText type="text">
      <p-inputNumber *ngSwitchCase="'number'" [(ngModel)]="filter.value" [disabled]="!filter.active"
                     id="filter-{{filter.label}}" [useGrouping]="false"
                     mode="decimal"></p-inputNumber>
      <p-checkbox *ngSwitchCase="'checkbox'" [(ngModel)]="filter.value" [binary]="true" [disabled]="!filter.active"
                  id="filter-{{filter.label}}"></p-checkbox>

      <div *ngSwitchCase="'range'" class="flex-center" id="filter-{{filter.label}}">
        <input [(ngModel)]="filter.value[0]" [disabled]="!filter.active" class="half-width"
               pInputText type="number"/>
        <input [(ngModel)]="filter.value[1]" [disabled]="!filter.active" class="half-width"
               pInputText type="number"/>
      </div>
      <p-calendar *ngSwitchCase="'date'" [(ngModel)]="filter.value" [disabled]="!filter.active"
                  dateFormat="dd.mm.yy" id="filter-{{filter.label}}" selectionMode="range"></p-calendar>

      <p-autoComplete *ngSwitchCase="'dropdown'" [(ngModel)]="filter.value" [disabled]="!filter.active"
                      id="filter-{{filter.label}}" [suggestions]="filter.others"
                      (completeMethod)="dropDownFilter($event, filter)"
                      [dropdown]="true">
        <ng-template let-suggestion pTemplate="item">
          <div class="ui-helper-clearfix">
            <div style="font-size:14px;float:left;margin:15px 10px 0 0">{{suggestion}}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </li>
  </ul>
  <p-button (click)="applyFilters()" label="Appliquer" styleClass="btn-hover-main"></p-button>
</div>

<p-contextMenu #productCM [model]="contextMenuItems"></p-contextMenu>

<p-table [value]="products.pageData" dataKey="id"
         [totalRecords]="products.filteredIds.length"
         (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
         (onLazyLoad)="loadProductsLazy($event)" [lazy]="true"
         [lazyLoadOnInit]="false" [loading]="loading"
         (selectAllChange)="onSelectAllChange($event)"
         [selectAll]="areAllSelected"
         [paginator]="true" [resizableColumns]="true"
         [(selection)]="selectedProducts.data" [columns]="displayedProductHeader"
         [tableStyle]="{'min-width': '50rem'}" [scrollable]="true" scrollHeight="80vh"
         [rows]="rowsNumber" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 50, 100, 500]"
         columnResizeMode="expand" selectionMode="multiple" [contextMenu]="productCM"
         [(contextMenuSelection)]="contextMenuSelectedProduct"
         styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped">

  <ng-template id="table-header" pTemplate="caption">
    <!-- Column toggle -->
    <p-multiSelect [(ngModel)]="displayedProductHeader" [options]="products.header" [style]="{'min-width': '200px'}"
                   optionLabel="label" placeholder="Choose Columns"
                   selectedItemsLabel="{0} columns selected">
    </p-multiSelect>
    <span class="text-light">{{totalRecords}} produits trouvés</span>
    <span class="text-light">{{selectedProducts.ids.length}} produits sélectionnés</span>
    <p-button label="Désélectionner tous" styleClass="p-button-sm btn-hover-main" (onClick)="unselectAll()"></p-button>
  </ng-template>

  <ng-template let-columns pTemplate="header">
    <tr>
      <!--  We display the photo differently because we need to add html markup-->
      <th style="width: 4rem" pFrozenColumn>
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th>Photo</th>
      <th pResizableColumn *ngFor="let col of columns">
        {{col.label}}
      </th>
    </tr>
  </ng-template>
  <ng-template let-columns="columns" let-product pTemplate="body" let-rowIndex="rowIndex">
    <tr [pContextMenuRow]="product">
      <td pFrozenColumn>
        <p-tableCheckbox [value]="product"></p-tableCheckbox>
      </td>
      <td style="width: 100px">
        <img [src]="product.photo" class="shadow-4" width="100%" alt="Miniature"/>
      <td *ngFor="let col of columns">
        {{ product[col.field] | prettier: col }}
      </td>
    </tr>
  </ng-template>
</p-table>


<div class="flex-center">
  <p-button (click)="editSelection()" label="Modifier la sélection" styleClass="btn-hover-main"
            [style.margin.px]="40"></p-button>
</div>
