<nav class="nav">
  <p-button label="Retour Écran Principal" routerLink="/home" styleClass="backButton"></p-button>
</nav>

<app-filter-fields [filters]="filters" (applyFilters)="applyFilters()"></app-filter-fields>


<app-filter-table (onEditData)="editProduct($event)" (onLazyLoad)="loadProductsLazy($event)"
                  [loading]="loading" [datas]="products">
</app-filter-table>

<div class="flex-center">
  <p-button (click)="editSelection()" label="Modifier la sélection" styleClass="btn-hover-main"
            [style.margin.px]="40"></p-button>
</div>
