body, html {
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --main-color: #F8B464;
  --secondary-color: #db3d3d;
  --third-color: #333;
  --fourth-color: rgb(221, 253, 244);

  --default-font-family: Arial, cursive;
  --default-font-weight: 400;
  --default-font-size: 16px;

  --font-size-1: 2rem;
  --font-size-2: 1.5rem;
  --font-size-3: 1.25rem;

  --default-border-size: 5px;
}

.text {
  text-align: center;

  font-family: var(--default-font-family);
  font-weight: var(--default-font-weight);
  color: var(--third-color);
}

.title {
  margin: 30px 0;
  font-size: var(--font-size-1);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-gap-20 {
  gap: 20px;
}

.reset-button {
  background: none;
  border: none;
  color: var(--third-color);
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.field-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  text-decoration: none;
}

.field-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 215px;
}

.nav {
  height: 15vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-color);

  margin-bottom: 50px;
}

.text-light {
  font-weight: lighter;
  margin: 5px;
}


.field-label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  margin: 15px;
}

.shop-specific-field {
    display: grid;
    grid-auto-flow: row;
    margin: 2rem 0;
}

.shop-specific-field * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

