body, html {
  /*overflow: hidden;*/
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --main-color: #ddfdf4;
  --secondary-color: #DB3D3D;
  --third-color: #000;

  --default-font-family: Arial, cursive;
  --default-font-weight: 400;
}
