<p-contextMenu #productCM [model]="contextMenuItems"
               [style]="{'transition': 'all 0s ease-out'}">
</p-contextMenu>

<p-table [value]="datas.pageData" dataKey="id"
         [totalRecords]="totalRecords"
         (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
         (onLazyLoad)="lazyLoadEvent.emit($event)" [lazy]="true"
         [lazyLoadOnInit]="false" [loading]="loading"
         (selectAllChange)="onSelectAllChange($event)"
         [selectAll]="areAllSelected"
         [paginator]="true" [resizableColumns]="true"
         [(selection)]="selectedDatas.data" [columns]="displayedHeader"
         [tableStyle]="{'min-width': '50rem'}" [scrollable]="true" scrollHeight="80vh"
         [rows]="rowsNumber" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 50, 100, 500]"
         columnResizeMode="expand" selectionMode="multiple" [contextMenu]="productCM"
         [(contextMenuSelection)]="contextMenuSelectedProduct"
         styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped">

  <ng-template id="table-header" pTemplate="caption">
    <!-- Column toggle -->
    <p-multiSelect [(ngModel)]="displayedHeader" [options]="datas.header" [style]="{'min-width': '200px'}"
                   optionLabel="label" placeholder="Choose Columns"
                   selectedItemsLabel="{0} columns selected">
    </p-multiSelect>
    <span class="text-light">{{totalRecords}} item trouvés</span>
    <span class="text-light">{{selectedDatas.ids.length}} item sélectionnés</span>
    <p-button label="Désélectionner tous" styleClass="p-button-sm btn-hover-main" (onClick)="unselectAll()"></p-button>
  </ng-template>

  <ng-template let-columns pTemplate="header">
    <tr>
      <th style="width: 4rem" pFrozenColumn>
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <!--  We display the photo differently because we need to add html markup-->

      <th *ngIf="isPhoto">Photo</th>
      <th pResizableColumn *ngFor="let col of columns">
        {{col.label}}
      </th>
    </tr>
  </ng-template>
  <ng-template let-columns="columns" let-data pTemplate="body">
    <tr [pContextMenuRow]="data">
      <td pFrozenColumn>
        <p-tableCheckbox [value]="data"></p-tableCheckbox>
      </td>
      <td *ngIf="isPhoto" style="width: 100px">
        <img [src]="data.photo.value" class="shadow-4" width="100%" alt="Miniature"/>
      <td *ngFor="let col of columns" [pTooltip]="data[col.field].tooltip">
        {{ data[col.field].value | prettier: col }}
      </td>
    </tr>
  </ng-template>
</p-table>
